.about {
  display: flex;
  width: 100%;
  height: auto;
  padding: 3em 0;
  position: relative;
}

@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
    flex: wrap;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .restaurant,
  .chefs {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: wrap;
  width: 40%;
  margin-left: 7em;
  margin-right: 5em;
  margin-top: -3em;
}

.owners {
  width: 70%;
  position: relative;
}

@media (max-width: 800px) {
  .content {
    width: 100%;
  }
}

.content p {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  color: #000;
  margin-top: -0.5em;
}

@media (max-width: 1050px) {
  .content p {
    font-size: 16px;
  }
}

.chefs {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 45%;
  height: auto;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  z-index: 1000;
}

.restaurant {
  position: absolute;
  top: 50px;
  left: 20%;
  width: %;
  height: auto;
  max-height: 250px;

  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  z-index: 10;
}
